{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/kabar.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Italianno|Montserrat:400,700|Raleway:400,700&display=swap"
      rel="stylesheet"
    />
    <title>Story6</title>
  </head>

  <body style="background-color: bisque;">
    <div class="container">
      <div class="kabar">
        <div
          class="judulkabar d-flex justify-content-center"
          style="background-color: aquamarine;"
        >
          <p>
            <b name="judul">Halo, apa kabar?</b>
          </p>
        </div>
        <div class="kabar2" style="background-color: aqua;">
          <form action="" method="POST">
            {% csrf_token %} {{ formKabar }}
            <div class="centre-items text-right" style="margin-top: 2%">
              <input type="submit" class="btn btn-success" value="masukan" />
            </div>
          </form>
        </div>
        <div
          class="table-responsive"
          id="Table"
          style="background-color: aqua;"
        >
          <table class="table table-hover">
            <thead>
              <tr class="d-flex" style="background-color: aquamarine;">
                <th scope="col" class="col-4">Waktu</th>
                <th scope="col" class="col-8">Cerita</th>
              </tr>
            </thead>
            {% for i in coreDatabase %}
            <tbody>
              <tr class="d-flex">
                <td class="col-4">{{ i.waktu }}</td>
                <td class="col-8">{{ i.kabarUser }}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
