.labelsearch {
    font-size: 2.5rem;
    margin-top: 10%;
    font-family: 'Racing Sans One', cursive;
}

.keyword-results {
    display: none;
    font-size: 1.5rem;
    margin-top: 3%;
    font-family: 'Nunito', sans-serif;
}

#book-results-table {
    margin-top: 0%;
    display: none;
}

.table-responsive {
    margin-top: 0%;
}

/* bagian status */
h2 {
    margin-top: 8%;
    margin-left: 10%;
    font-size: 4rem;
    font-family: 'Racing Sans One', cursive;
}

.labelstatus {
    font-size: 1.5rem;
    margin-top: 2%;
}

.allcontent {
    margin-left: 10%;
    margin-right: 10%;
}

.btn {
    margin-top: 4%;
    margin-bottom: 4%;
}

/* bagian about */
.about {
    margin-top: 8%;
    text-align: center;
}

h3 {
    margin-top: 3%;
    font-size: 2rem;
    font-family: 'Racing Sans One', cursive;
    margin-bottom: 2%;
}

.accordion {
    width: 50vw;
    height: 60px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(225, 225, 225, 1);
    overflow: hidden;
    transition: height 0.3s ease;
    margin-bottom: 20px;
}

.accordion .accordion_tab {
    padding: 20px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.accordion .accordion_tab .accordion_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 15px;
    height: 15px;
    transition: all 0.3s ease;
}

.accordion .accordion_tab .accordion_arrow img {
    width: 100%;
    height: 100%;
}

.accordion .accordion_tab.active .accordion_arrow {
    transform: translateY(-50%) rotate(180deg);
}

.accordion.active.activity {
    height: 50%;
}

.accordion.active.experience {
    height: 80%;
}

.accordion.active.achievment {
    height: 35%;
}

.accordion .accordion_content {
    padding: 20px;
    border-top: 1px solid #e9e9e9;
}

.accordion .accordion_content .accordion_item {
    margin-bottom: 20px;
}

.accordion .accordion_content .accordion_item p.item_title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #6adda2;
}

.accordion .accordion_content .accordion_item p:last-child {
    color: #9a9b9f;
    font-size: 1rem;
    line-height: 20px;
}

body {
    background-color: #6adda2;
}

/* story 9 */

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #a6e3e9;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    background: white;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #defcfc !important;
    color: black !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}