{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'kabar.css' %}" />

    <title>Story 7</title>
  </head>
  <body id="body" class="dark-mode">
    <div class="container">
      <div class="basa basi">
        <div class="row">
          <h2>Hai, Apakabar? lagi</h2>
          <p>
            nama saya muhammad ramy azhar, mahasiswa fasilkom ui angaktan 2018,
            hobi saya membaca buku nah dibawah ini ada beberapa list aktifitas
            saya, organisasi/kepanitiaan yang saya ikuti, dan prestasi yang
            pernah saya raih. oiya ketiganya bisa di klik lhoo.. kalian coba
            dehh.. dan halaman ini bisa berubah temanya... coba kamu klik tombol
            dipaling bawah yang tulisannya "ganti tema".
          </p>
        </div>
      </div>
      <div class="row">
        <button class="accordion">Aktifitas</button>
        <div class="panel">
          <p>
            Makan
          </p>
          <p>Tidur</p>
          <p>Solat</p>
          <p>Ngoding</p>
          <p>Dota</p>
        </div>

        <button class="accordion">Organisasi / kepanitian</button>
        <div class="panel">
          <p>
            Bem
          </p>
          <p>Openhouse Fasilkom UI</p>
          <p>Compfest</p>
        </div>

        <button class="accordion">Prestasi</button>
        <div class="panel">
          <p>
            Juara 1 Lomba Balap sepeda
          </p>
          <p>Juara harapan 3 Lomba catur</p>
          <p>Juara Favorit Lomba masak</p>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-success"
        name="dark_light"
        onclick="toggleDarkLight()"
      >
        Ganti tema
      </button>
    </div>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js.js' %}"></script>
  </body>
</html>
