{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Favourite Book</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/story8.css' %}" />
    <script
      type="text/Javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  {% block content %}
  <div class="allcontent">
    <form method="GET" class="form" action="volumes">
      {% csrf_token %}
      <div class="form-group">
        {% if user.is_authenticated %}
        <label for="status" class="labelsearch"
          >Hey {{ request.user.username }}, do you wanna search some
          books?</label
        >
        {% else %}
        <label for="status" class="labelsearch"
          >Hey Anonymous, do you wanna search some books? login dulu
          please</label
        >
        {% endif %}
        <input
          type="text"
          class="form-control"
          id="searchfield"
          placeholder="search your books"
          name="searchfield"
        />
      </div>

      {% if user.is_authenticated %}
      <button type="submit" class="btn btn-primary" id="submit">Search</button>
      <a
        class="btn btn-danger"
        href="{% url 'lilo:SignOut' %}"
        id="text-nav-oauth"
        >Sign Out</a
      >
      {% else %}
      <a
        class="btn btn-success"
        href="{% url 'lilo:SignIn' %}"
        id="text-nav-oauth"
        >Sign In</a
      >
      {% endif %}
      <div id="log-button"></div>
    </form>
  </div>

  <div class="container mt-5">
    <h1 class="keyword-results">Results</h1>
  </div>

  <div id="book-results-table" class="table-responsive">
    <div class="container mt-5">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="align-middle" scope="col">No.</th>
            <th class="align-middle" scope="col">Book Information</th>
            <th class="align-middle" scope="col">Cover</th>
          </tr>
        </thead>
        <tbody id="results"></tbody>
      </table>
    </div>
  </div>
  {% endblock content %} {% block custom_scripts %}
  <script src="{% static 'js/story8.js' %}"></script>
  {% endblock custom_scripts %}
</html>
