body {
    height: 100%;
}

.kabar {
    height: 100%;
    padding: 2rem;
}

.judulkabar {
    font-family: 'Montserrat', sans-serif;
    color: #005073;
    font-size: 2.5rem;
}

#Table {
    padding-top: 2rem;
    margin: 0;
    margin-top: 2rem;
}

.accordion {
    background-color: rgb(216, 184, 184);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.active,
.accordion:hover {
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;

}

body.dark-mode {
    background-color: #111;
    color: #eee;
}

body.light-mode {
    background-color: white;
    color: #111;
}

.dark-mode .panel {
    background-color: #111 !important;
}

.light-mode .panel {
    background-color: white !important;
}